$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

header{

}

.side-nav{
  display: flex;
  flex-direction: column;

  height: 100%;
  position: fixed;
  left: 0%;

  background-color: lightgray;

  @media screen and (max-width: $small) {
    width: 150px;
  }
  @media screen and (min-width: $small) {
    width: 200px;
  }
  @media screen and (min-width: $medium) {
    width: 200px;
  }
  @media screen and (min-width: $large) {
    width: 300px;
  }
  @media screen and (min-width: $extra-large) {
    width: 300px;
  }
}

.sn-user-info{
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;

  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  img{
    max-width: 86px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  h5{
    margin-bottom: 0px;
  }

  p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: gray;
  }
}

.sn-btn{
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;

  text-decoration: none;
  color: black;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  transition: 0.5s;
  
  &:hover{
    border-left: solid 3px;
    border-color: blue;
    cursor: pointer;

    i{
      margin-right: 5px;
    }

    *{
      font-size: 22px;
    }
  }

  i{
    font-size: 20px;
  }
}
