$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

header{

}

.sn-hidden{
  display: flex;
  flex-direction: column;
  transition: 0.5s;

  height: 100%;
  position: fixed;
  left: 0%;
  width: 100px;

  background-color: lightgray;

  .bt-sn-item{
    font-size: 8px;
    margin-bottom: 15px;
    text-align: center;
    left: -100px;
    transition: 0.5s;
    width: 150px;
  }

  .sn-user-info{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 5px;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    img{
      max-width: 64px;
      border-radius: 50%;
      margin-bottom: 5px;
      transition: 0.5s;

      cursor: pointer;
    }

    h5{
      display: none;
      margin-bottom: 0px;
    }

    p{
      display: none;
    }
  }

  .sn-btn{
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;

    text-decoration: none;
    color: black;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    *{
      transition: 0.5s;
    }

    span{
      display: none;
    }

    i{
      font-size: 26px;
    }

    &:hover{
      cursor: pointer;

      i{
        transition: 0.5s;
        color: #3e4896;
      }

      span{
        transition: 0.5s;
        display: none;
      }
    }
  }
}

.side-nav{
  display: flex;
  flex-direction: column;

  height: 100%;
  position: fixed;
  left: 0%;

  transition: 0.5s;

  background-color: lightgray;

  .bt-sn-item{
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.5s;
  }

  .sn-user-info{
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    img{
      max-width: 86px;
      border-radius: 50%;
      margin-bottom: 5px;
      margin-top: 15px;

      cursor: pointer;
    }

    h5{
      margin-bottom: 0px;
    }

    p{
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: gray;
    }
  }

  .sn-btn{
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;

    text-decoration: none;
    color: black;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    *{
      transition: 0.5s;
    }

    &:hover{
      cursor: pointer;

      i{
        transition: 0.5s;
        margin-right: 5px;
        margin-left: 15px;
        color: #3e4896;
      }

      span{
        transition: 0.5s;
        color: #3e4896;
      }
    }

    i{
      font-size: 20px;
    }
  }

  @media screen and (max-width: $small) {
    width: 150px;

    .bt-sn-item{
      width: 150px;
    }
  }
  @media screen and (min-width: $small) {
    width: 200px;

    .bt-sn-item{
      width: 200px;
    }
  }
  @media screen and (min-width: $medium) {
    width: 200px;

    .bt-sn-item{
      width: 200px;
    }
  }
  @media screen and (min-width: $large) {
    width: 200px;

    .bt-sn-item{
      width: 200px;
    }
  }
  @media screen and (min-width: $extra-large) {
    width: 200px;

    .bt-sn-item{
      width: 200px;
    }
  }
}
