$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

.whidden{
  margin-left: 100px;
  transition: 0.5s;
}

.wohidden{
  margin-left: 150px;
  transition: 0.5s;

  @media screen and (min-width: $medium) {
    margin-left: 200px;
  }
}
